Tablet model : Dell Venue 10 Pro 5056
Tablet Name : CHW-TO21270
Tablet IP address : 172.17.9.41
Deployment Server : dm01
Managment server : mgt-test01.ov.schn.health.nsw.gov.au
Timestamp : 10.45AM 29/06/2016

--> No ApplyConfigurationBeginError.txt nor any ApplyConfigurationFinalError.txt.
--> Checked the content of UwfServicingMasterScript.cmd : OK
--> The content of Update.cmd : OK

Deployment server logs :


Logger DeploymentServer.Controllers.LogController 
ErrorLevel ERROR 
Thread 358 
Date 29/06/2016 10:32:19 AM 
MachineName dm01 
App /LM/W3SVC/1/ROOT/DeploymentServer-1-131115567037090635 
Username IIS APPPOOL\DeploymentServer Identity 
HostName dm01 
Message CHW-TO21270: An error 'PowerShell DSC resource MSFT_ServiceResource failed to execute Test-TargetResource functionality with error message: Service 'W32Time' not found. ' occured during DSC Configuration 

Logger DeploymentServer.Controllers.LogController 
ErrorLevel ERROR 
Thread 348 
Date 29/06/2016 10:36:08 AM 
MachineName dm01 
App /LM/W3SVC/1/ROOT/DeploymentServer-1-131115567037090635 
Username IIS APPPOOL\DeploymentServer Identity 
HostName dm01 
Message CHW-TO21270: An error 'PowerShell DSC resource MSFT_ServiceResource failed to execute Test-TargetResource functionality with error message: Service 'W32Time' not found. ' occured during DSC Configuration 

--> 3 Attempt failing with the error above.

Logger DeploymentServer.ExceptionLoggers.WebApiExceptionLogger 
ErrorLevel ERROR 
Thread 350 
Date 29/06/2016 10:50:10 AM 
MachineName dm01 
App /LM/W3SVC/1/ROOT/DeploymentServer-1-131115567037090635 
Username IIS APPPOOL\DeploymentServer Identity 
HostName dm01 
Message Unhandled exception thrown in POST for request http://dm01.ov.schn.health.nsw.gov.au/DeploymentServer/api/deployment/prepare: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Cannot remove item C:\inetpub\wwwroot\DeploymentServer\App_Data\Prepare\CHW_Test\Client\ClientMetadata\Tablet\ClientSetup.msi: The process cannot access the file 'ClientSetup.msi' because it is being used by another process. 

--> After that, subsequent "Prepare" fail because ClientSetup.msi from the previous "Prepare" is still locked.

Connected to the tablet CHW-TO21270 :

PS C:\> Get-Service -Name 'W32Time'
Get-Service : Cannot find any service with service name 'W32Time'.
At line:1 char:1
+ Get-Service -Name 'W32Time'
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ObjectNotFound: (W32Time:String) [Get-Service], ServiceCommandException
    + FullyQualifiedErrorId : NoServiceFoundForGivenName,Microsoft.PowerShell.Commands.GetServiceCommand

--> Apparently this service (Windows Time) really doesn't exist on these tablets.

C:\>w32tm /query /configuration
The following error occurred: The specified service does not exist as an installed service. (0x80070424)

--> It is not just disabled, it is totally absent.
--> This is very surprising because it is part of Windows.

--> Could you check if you have the same symptoms on a freshly imaged tablet ?
--> If yes, we'll need to investigate the image.
--> If not, something weird happened on this tablet, maybe due to a human intervention, a malware or some kind or corruption.

Just to double-check :

[DEVOPS-TEST-DSCNUC]: PS C:\> Get-Service -Name 'W32Time'

Status   Name               DisplayName
------   ----               -----------
Stopped  W32Time            Windows Time

--> Yes, this service is definitely present on our usual images.

Let's check if there is something different with the OS :

PS C:\> Get-CimInstance -ClassName Win32_OperatingSystem | Format-List *

Status                                    : OK
Name                                      : Microsoft Windows Embedded 8.1 Industry Pro|C:\windows|\Device\Harddisk0\Partition3
Caption                                   : Microsoft Windows Embedded 8.1 Industry Pro
InstallDate                               : 6/16/2016 12:32:39 PM
CurrentTimeZone                           : 600
LastBootUpTime                            : 6/30/2016 1:12:57 PM
LocalDateTime                             : 6/30/2016 7:15:56 PM
Version                                   : 6.3.9600
BuildNumber                               : 9600
BuildType                                 : Multiprocessor Free
CodeSet                                   : 1252
Locale                                    : 0409
Manufacturer                              : Microsoft Corporation
MUILanguages                              : {en-US}
OperatingSystemSKU                        : 89
Organization                              : Oneview
OSArchitecture                            : 64-bit
OSLanguage                                : 1033

[DEVOPS-TEST-DSCNUC]: PS C:\> Get-CimInstance -ClassName Win32_OperatingSystem | Format-List *

Status                                    : OK
Name                                      : Microsoft Windows Embedded 8.1 Industry Pro|C:\Windows|\Device\Harddisk0\Partition1
Caption                                   : Microsoft Windows Embedded 8.1 Industry Pro
InstallDate                               : 16/03/2016 10:06:57
CurrentTimeZone                           : 60
LastBootUpTime                            : 29/06/2016 16:09:48
LocalDateTime                             : 30/06/2016 10:30:46
Version                                   : 6.3.9600
BuildNumber                               : 9600
BuildType                                 : Multiprocessor Free
CodeSet                                   : 1252
CountryCode                               : 61
Manufacturer                              : Microsoft Corporation
MUILanguages                              : {en-US}
OperatingSystemSKU                        : 89
Organization                              : Oneview
OSArchitecture                            : 64-bit
OSLanguage                                : 1033

--> I don't see any major difference which could explain differences in the services.

--> One notable difference : this tablet is join to a workgroup (not a domain) called ONEVIEW.
--> There is no w32time key in HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services, nor in HKEY_LOCAL_MACHINE\SYSTEM\ControlSet001\Services.

C:\>w32tm /unregister
W32Time successfully unregistered.

C:\>w32tm /register
W32Time successfully registered.

C:\>net start w32time
System error 1290 has occurred.

The service start failed since one or more services in the same process have an incompatible service SID type setting. A service with restricted service SID type can only coexist in the same process with other services with a restricted SID type. If the service SID type for this service was just configured, the hosting process must be restarted in order to start this service.

--> Failed to start the service but now, the service appears :

PS C:\> Get-Service -Name 'W32Time'

Status   Name               DisplayName
------   ----               -----------
Stopped  W32Time            Windows Time


-------------------------------------------------------------------------------------------------------------------------
--> This seems to the default RunAs account for this service.
--> Many services are running as "Local Service"

PS C:\> tasklist /svc /FI "imagename eq svchost.exe"

Image Name                     PID Services
========================= ======== ============================================
svchost.exe                    808 BrokerInfrastructure, DcomLaunch, LSM,
                                   PlugPlay, Power, SystemEventsBroker
svchost.exe                    840 RpcEptMapper, RpcSs
svchost.exe                    960 Audiosrv, Dhcp, EventLog,
                                   HomeGroupProvider, lmhosts, Wcmsvc, wscsvc
svchost.exe                   1000 AeLookupSvc, BITS, Browser, CertPropSvc,
                                   DialogFilter, DsmSvc, IKEEXT, iphlpsvc,
                                   LanmanServer, MsKeyboardFilter, ProfSvc,
                                   Schedule, SENS, SessionEnv,
                                   ShellHWDetection, Themes, Winmgmt
svchost.exe                    380 bthserv, EventSystem, fdPHost, FontCache,
                                   netprofm, nsi, WdiServiceHost,
                                   WinHttpAutoProxySvc
svchost.exe                    820 AudioEndpointBuilder, hidserv, NcbService,
                                   PcaSvc, ScDeviceEnum, TabletInputService,
                                   TrkWks, UmRdpService, WdiSystemHost,
                                   WlanSvc, wudfsvc
svchost.exe                   1136 CryptSvc, Dnscache, LanmanWorkstation,
                                   NlaSvc, TermService, WinRM
svchost.exe                   1428 BFE, DPS, MpsSvc
svchost.exe                   1928 DiagTrack
svchost.exe                   3260 PolicyAgent
svchost.exe                   3312 FDResPub, SensrSvc, SSDPSRV, TimeBroker

--> Services running as "Local Service" (for example : bthserv, FDResPub, BFE,...) are hosted multiple different instances of svchost.exe.
--> So the easiest way to allow w32time to start is to host it in its own svchost.exe instance.

C:\>sc config w32time type= own
[SC] ChangeServiceConfig SUCCESS

C:\>net start w32time
The Windows Time service is starting.
The Windows Time service was started successfully.

Run a new "Prepare" for CHW_Test :

Error :

Logger DeploymentServer.ExceptionLoggers.WebApiExceptionLogger 
ErrorLevel ERROR 
Thread 982 
Date 30/06/2016 8:58:39 PM 
MachineName dm01 
App /LM/W3SVC/1/ROOT/DeploymentServer-1-131116612032584784 
Username IIS APPPOOL\DeploymentServer Identity 
HostName dm01 
Message Unhandled exception thrown in POST for request http://dm01.ov.schn.health.nsw.gov.au/DeploymentServer/api/deployment/prepare: ClientSetup.msi not found in c:\oneview\releases\6.0.3663.0\Setup\ClientSetup.msi 

--> Check on DM01, and yes, there is no ClientSetup.msi in this build : C:\Oneview\releases\6.0.3663.0\Setup so it cannot work.

Run a new "Prepare" for CHW_test with build 6.0.3661.0, released it for client "Pull" and reboot the tablet CHW-TO21270 :

--> It failed with the same error because I did the changes when UWF was enabled.
--> Now, I cannot authenticate to the VPN.

--> If you do the following, the deployment should work.

